@charset "UTF-8";

/*Fontes*/
@font-face{
    font-family: Crime;
    src: url(../fonts/classic_robot/Classic\ Robot\ Condensed.otf);
    font-weight: normal;
}

/*Variáveis*/
:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-crime: 'Crime', cursive;

    --cor1: #e12c22;
    --cor2: #d42b2b;
    --cor3: #000;
    --cor4: #b1b1b1;
    --cor5: #fff;
}

/*Reset*/
*{
    margin: 0px;
    padding: 0px;
}

/*Corpo da página*/
body{
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    
}

/*Cabeçalho*/
header{
    background-color: var(--cor1);
    height: 60px;
    display: flex;
    padding: 10px;
    justify-content: center; /*<- Imagem ao centro*/
}

/*Menu*/
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--cor2);
    padding: 10px;
}

/*Links do menu*/
nav > a{
    text-decoration: none;
    color: var(--cor3);
    transition: 1s;
}

/*Animation Links*/
nav > a:hover{
    background-color: var(--cor5);
    padding: 3px;
    text-decoration: underline;
}

/*Imagen de fundo*/
section{
    padding: 20vh 30px 20vh;
}

#fundo{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/*Corpo do conteúdo*/
.corpo{
    margin: 20px auto;
    padding: 30px;
    max-width: 450px;
}

/*Título principal*/
h1{
    text-align: center;
    font-family: var(--fonte-crime);
    margin: 15px;
    font-size: 2.3em;
}

/*Subtítulo*/
main > h2{
    font-family: var(--fonte-crime);
    margin: 15px 0px;
    font-size: 2em;
}

/*Parágrafos*/
section > p{
    color: var(--cor5);
    line-height: 1.5;
    text-align: justify;
}

main > p{
    margin: 15px 0;
    line-height: 1.5;
    text-align: justify;
}

/*Quadro da imagem*/
figure{
    background-color: var(--cor2);
    padding: 10px;
    border: 2px solid var(--cor3);
}

/*Descrição da imagem*/
figcaption{
    text-align: center;
    margin: 10px;
    color: var(--cor5);
}

figcaption > a{
    color: var(--cor5);
    text-decoration: none;
}

figcaption > a:hover{
    text-decoration: underline;
}

/*Imagem*/
figure > img{
    width: 100%;
}

/*Caixa de conteúdo extra*/
.extra{
    background-color: var(--cor2);
    padding: 7px;
}

/*Item da caixa*/
.item{
    display: flex;
    margin: 20px;
    padding: 6%;
    border-radius: 10px;
    background-color: var(--cor3);
    align-items: center;
    justify-content: space-around;
}

/*Links do extra*/
.item > a{
    color: var(--cor5);
}

/*Rodapé*/
footer{
    background-color: var(--cor1);
}

footer > p{
    text-align: center;
    padding: 10px;
}

/*Tablets*/
@media (min-width: 760px){
    .corpo{
        max-width: 750px;
        margin: auto;
    }

    main > p{
        margin: 15px 0;
        line-height: 1.5;
        text-align: justify;
    }

    figure{
        width: 70%;
        height: 70%;
        display: block;
        margin: auto;
    }
    
    figure > img{
        width: 100%;
    }
}

/*Desktops*/
@media (min-width: 1200px){
    .corpo{
        max-width: 1200px;
        margin: auto;
    }

    main > p{
        margin: 15px 0;
        line-height: 1.5;
        text-align: justify;
    }    
}